.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 100vh;
  padding: 124px 32px 32px 12px;
  background: rgba(var(--rgb-white), 0.55);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-left: 1px solid rgba(var(--rgb-white), 0.3);
  box-shadow: -6px 0 24px 0 rgba(var(--rgb-gray500), 0.15);
  z-index: 900;
}

.show {
  visibility: visible !important;
}
