#about-me {
  background: blue;
  height: 100vh;
  width: 100vw;

  #sidebar {
    background: green;
  }

  #content {
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  #about-me {
    #content {
      grid-column: 2 / 6;
    }
  }
}
