:root {
  --white: #ebebeb;
  --gray300: #707070;
  --gray500: #5c5c5c;
  --gray700: #474747;
  --black: #333333;
  --blue100: #5ba3ec;
  --blue300: #368fe7;
  --blue500: #1976d2;
  --blue700: #1566b7;
  --blue900: #115292;
}
