@import url('./colors.css');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: block;
  gap: 0;
  max-width: 2560px;
  color: var(--black);
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: none;
}
