.section {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 60px;
  background-color: var(--blue100);
  z-index: 10;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 32px;
}

@media screen and (orientation: landscape) and (min-width: 944px) and (max-width: 1275px) {
  .list {
    padding: 0 14vw;
  }
}
