.index-section-title {
  padding: 40px 0px 60px 0px;
}

.index-section-title h1 {
  font-size: 58px;
  font-weight: var(--font-weight-semi-bold);
  line-height: normal;
  letter-spacing: 0.12em;
  text-align: center;
  margin: 0 !important;
}

.index-section-title__level-2 h1 {
  font-size: 50px;
}
