.index-section-title {
  padding: 40px 24px 60px 24px;
}

.index-section-title h1 {
  font-size: 64px;
  line-height: normal;
  letter-spacing: 0.12em;
  text-align: center;
}

.index-section-title__level-2 h1 {
  font-size: 54px;
}
