.container {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.link {
  text-decoration: none;
}

.button {
  width: fit-content;
  padding: 24px;
  background-color: var(--blue500);
  border-radius: 8px;
  color: var(--white);
}
