.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 6vw;
}

.container h4 {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75rem;
  font-weight: var(--font-weight-regular);
  text-align: center;
  color: var(--white);
}
