.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 32px;
  z-index: 1000;
}

.action-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
