.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 32px;
  width: 100%;
}

.certificate__image {
  width: 180px;
  height: auto;
}
