.footer {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 48px 48px 128px;
  background-color: var(--blue900);
  z-index: 10;
}

.name {
  display: block;
  margin-bottom: 8px;
}

.name h1 {
  margin: 0;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.1em;
  color: var(--white);
}

/* Mobile Large */
@media screen and (max-width: 425px) {
  .name h1 {
    font-size: 40px;
    line-height: 44px;
  }
}
