@import './_colors';
@import './_fonts';
@import './_grid_layout';
@import './_variables';

body, #app {
  background-color: $black;
}

* {
  font-family: 'Kanit-Medium';
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
