.button {
  height: 28px;
  width: 28px;
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.button a:active {
  background-color: transparent;
}

.icon {
  height: 100%;
  width: auto;
}
