.container {
  padding: 40px 0px 60px 0px;
}

.container h1 {
  font-size: 48px;
  font-weight: var(--font-weight-semi-bold);
  line-height: 50px;
  letter-spacing: 0.12em;
  text-align: center;
  margin: 0 !important;
  word-wrap: break-word;
}

.level-2 h1 {
  font-size: 40px;
  line-height: 42px;
}

/* Mobile Large */
@media screen and (max-width: 425px) {
  .container h1 {
    font-size: 40px;
    line-height: 42px;
  }

  .level-2 h1 {
    font-size: 32px;
    line-height: 34px;
  }
}
