.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}

.container a {
  text-decoration: none;
}

.iconContainer {
  border: 1px solid var(--white);
  border-radius: 12px;
  padding: 6px 8px;
}

.iconContainer path {
  fill: var(--white);
}
