.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray500);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 10;
}

.content-container {
  position: relative;
  max-width: var(--width-md);
  padding: 0 32px;
}

.name,
.firstname,
.lastname {
  display: inline-block;
}

.name,
.description {
  position: relative;
  width: 100%;
}

.firstname,
.lastname {
  font-size: 100px;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.12em;
  line-height: 80px;
  margin: 0 20px 12px 0;
}

.firstname {
  color: var(--black);
}

.lastname {
  color: var(--blue500);
}

.description {
  margin-bottom: 0.5rem;
}

.description p {
  margin: 0;
  font-size: 22px;
  font-weight: var(--font-weight-medium);
  line-height: 24px;
  letter-spacing: 0.08em;
}

/* Mobile Large */
@media screen and (max-width: 425px) {
  .firstname,
  .lastname {
    font-size: 4rem;
    line-height: 2.4rem;
  }

  .description p {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
  }
}
